<div class="slds-grid">
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Utility</div>
    <ngl-icon iconName="connected_apps" variant="default"></ngl-icon>
    <ngl-icon iconName="warning" variant="warning" alternativeText="Warning"></ngl-icon>
    <ngl-icon iconName="close" variant="error"></ngl-icon>
  </div>
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Standard</div>
    <ngl-icon iconName="standard:answer_public"></ngl-icon>
    <ngl-icon iconName="standard:investment_account" variant="default"></ngl-icon>
    <ngl-icon iconName="standard:avatar"></ngl-icon>
  </div>
</div>
<div class="slds-grid slds-m-top_large">
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Doctype</div>
    <ngl-icon iconName="doctype:image" size="large"></ngl-icon>
    <ngl-icon iconName="doctype:link"></ngl-icon>
    <ngl-icon iconName="doctype:html" size="small"></ngl-icon>
  </div>
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Action</div>
    <ngl-icon iconName="action:web_link" class="slds-icon_container_circle"></ngl-icon>
    <ngl-icon iconName="action:download" size="large" svgClass="slds-p-around_x-small"></ngl-icon>
  </div>
</div>
<div class="slds-grid slds-m-top_large">
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Custom</div>
    <ngl-icon iconName="custom:custom1"></ngl-icon>
    <ngl-icon iconName="custom:custom10"></ngl-icon>
  </div>
  <div class="slds-col">
    <div class="slds-text-title_caps slds-m-bottom_x-small">Dynamic Icons</div>
    <span ngl-dynamic-icon nglDynamicIconType="waffle"></span>
  </div>
</div>

<div class="slds-grid slds-m-top_large" style="height: 50px;">
 <div class="slds-align-middle slds-col">
   <button type="button" nglButton="neutral" (click)="change()">Change</button>
   <ngl-icon [iconName]="icon.iconName" [size]="icon.size" [variant]="icon.variant"></ngl-icon>
 </div>
</div>
