button.slds-button.slds-icon-waffle_container((click)="clicked($event)")
  span.slds-icon-waffle
    span.slds-r1
    span.slds-r2
    span.slds-r3
    span.slds-r4
    span.slds-r5
    span.slds-r6
    span.slds-r7
    span.slds-r8
    span.slds-r9
