.slds-text-title_caps.slds-m-bottom_small Inline {{date | date:'longDate'}}

button.slds-m-bottom_large(type="button", nglButton="neutral", (click)="gotoDate()") 09 November 2005
button.slds-m-bottom_large(type="button", nglButton="destructive", (click)="date = null") Clear

ngl-datepicker.slds-box.slds-box_x-small([(date)]="date")
