<ngl-tabset [(selected)]="selectedTab" [variant]="variant">
  <ng-template ngl-tab label="Overview">
    You have {{details.length}} details.
  </ng-template>
  <ngl-tab *ngFor="let detail of details" (activate)="tabChange(detail, 'active')" (deactivate)="tabChange(detail, 'inactive')">
    <ng-template ngl-tab-label>Detail <i>{{ detail }}</i></ng-template>
    <ng-template ngl-tab-content>
      <p>Some detail text for <b>{{detail}}</b>.</p>
      <button type="button" nglButton="destructive" (click)="removeDetail(detail)">Remove</button>
    </ng-template>
  </ngl-tab>
  <ng-template #heading>Summary</ng-template>
  <ng-template ngl-tab id="sum" #summaryTab="nglTab" [label]="heading">
    Next last ID is {{id}}.
  </ng-template>
</ngl-tabset>

<div class="slds-m-top--large">
  <button type="button" nglButton="brand" (click)="addDetail()">Add Detail</button>
  <button type="button" nglButton="neutral" (click)="change()">Toggle scope</button>
  <button type="button" nglButton="neutral" (click)="selectedTab = summaryTab" [disabled]="isDisabled()">Show Summary</button>
</div>
