button(type="button", nglButton, [nglPopover]="tip", nglPopoverPlacement="right", [(nglPopoverOpen)]="open1") Click me

.slds-text-title_caps.slds-m-bottom_small.slds-m-top_x-large With header & footer
button(type="button", nglButton, [nglPopover]="tip", nglPopoverPlacement="right", nglPopoverHeader="Header", nglPopoverFooter="Footer", [(nglPopoverOpen)]="open2") Header & Footer

ng-template(#tip)
  | Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.
