div(style="max-width: 600px;")
  .slds-grid.slds-grid_align-center.slds-gutters_direct-medium
    button(type="button", nglButton, nglPopoverPlacement='top-left', [nglPopover]="tip", [(nglPopoverOpen)]="open.tl") top-left
    button(type="button", nglButton, nglPopoverPlacement='top', [nglPopover]="tip", [(nglPopoverOpen)]="open.t") top
    button(type="button", nglButton, nglPopoverPlacement='top-right', [nglPopover]="tip", [(nglPopoverOpen)]="open.tr") top-right
  .slds-grid.slds-grid_align-spread
    .slds-col
      .slds-grid.slds-grid_vertical
        span.slds-m-bottom_xx-small: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='left-top', [nglPopover]="tip", [(nglPopoverOpen)]="open.lt") left-top
        span.slds-m-bottom_xx-small: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='left', [nglPopover]="tip", [(nglPopoverOpen)]="open.l") left
        span: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='left-bottom', [nglPopover]="tip", [(nglPopoverOpen)]="open.lb") left-bottom
    .slds-col
      .slds-grid.slds-grid_vertical.slds-grid_align-end
        span.slds-m-bottom_xx-small: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='right-top', [nglPopover]="tip", [(nglPopoverOpen)]="open.rt") right-top
        span.slds-m-bottom_xx-small: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='right', [nglPopover]="tip", [(nglPopoverOpen)]="open.r") right
        span: button.slds-button_stretch(type="button", nglButton, nglPopoverPlacement='right-bottom', [nglPopover]="tip", [(nglPopoverOpen)]="open.rb") right-bottom
  .slds-grid.slds-grid_align-center.slds-gutters_direct-medium
    button(type="button", nglButton, nglPopoverPlacement='bottom-left', [nglPopover]="tip", [(nglPopoverOpen)]="open.bl") bottom-left
    button(type="button", nglButton, nglPopoverPlacement='bottom', [nglPopover]="tip", [(nglPopoverOpen)]="open.b") bottom
    button(type="button", nglButton, nglPopoverPlacement='bottom-right', [nglPopover]="tip", [(nglPopoverOpen)]="open.br") bottom-right

ng-template(#tip)
  | Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.
