button.slds-button.slds-button_neutral.slds-is-absolute(type="button", (click)="tryItOut()", title="Edit on Stackblitz",
                                                            style="right: 10px;")
  img(src="assets/images/stackblitz.svg", style="height:15px;")
  | Stackblitz

ngl-tabset([(selected)]="selectedTab")

  ng-template(ngl-tab="ngl-tab", label="Markup")
    ng-container(*ngTemplateOutlet="markup")

  ng-template(ngl-tab="ngl-tab", label="Typescript")
    ng-container(*ngTemplateOutlet="ts")
