#banner
  .slds-container_x-large.slds-container_center
    .slds-grid.slds-grid_vertical.slds-p-around_large.slds-text-align_center
      img(src="assets/images/shield.svg", style="height: 170px;")
      .slds-text-heading_large(style="color:#FFF;") NG-LIGHTNING
      .slds-m-top_small Native Angular components & directives for Lightning Design System

.slds-container_x-large.slds-container_center.slds-m-top_small.slds-p-around_x-large

  //- MARKETING!
  .slds-grid.slds-wrap
    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3.slds-m-top_medium
      .slds-text-heading_medium BUILDING FOR THE FUTURE
      .slds-m-top_small
        | Built upon next generation frameworks like
        |
        a(href="https://angular.io/") Angular
        |  and
        |
        a(href="https://www.lightningdesignsystem.com/") Salesforce's Lightning Design System
        | , rest ​assured that you building an application to stand the test of time.

    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3.slds-m-top_medium
      .slds-text-heading_medium BEST PRACTICES
      .slds-m-top_small
        | We focus on building stateless functional components that depend only on their input properties, guaranteeing better performance, more development flexibility and seamless integration with your application's requirements.

    .slds-col_padded.slds-text-align_center.slds-size_1-of-1.slds-large-size_1-of-3.slds-m-top_medium
      .slds-text-heading_medium ACCESSIBILITY
      .slds-m-top_small
        | We put a lot of effort to follow Lightning Design System's accessibility guidelines, to assure that your product is operable by people with a wide range of abilities
        | and meets all legal requirements.

  hr

  //- Install & getting started
  .slds-p-vertical_large
    .slds-text-heading_large.slds-m-bottom_large Getting started
    p.slds-m-bottom_small
      | Install through
      |
      code npm
      | :
    |
    pre.language-clike(ngNonBindable)
      code !{self.install}

  //- Documentation
  .slds-p-vertical_x-small
    .slds-text-heading_large.slds-m-bottom_large Reading the documentation
    p
      | Each component has API documentation, examples, and a working demo. They can be found
      |
      |
      a(routerLink="/components") here
      | .

  //- Usage instructions
  .slds-p-vertical_large
    .slds-text-heading_large.slds-m-bottom_large Usage
    |
    p
      | Once installed you need to import our main module into your application module by calling
      code NglModule.forRoot()
      | . You should end up with code similar to this:

    pre.language-typescript
      code !{self.usage}

  //- Configuration
  .slds-p-vertical_large
    .slds-text-heading_large.slds-m-bottom_large Configuration
    |
    p
      | Optionally, you can pass an object to the
      |
      code forRoot
      |  method, to configure
      |
      code ng-lightning
      |  during the initialization of the application, in order to provide your own default values.
      |   For example:
    pre.language-typescript
      code !{self.config}

    p.slds-m-top_small
      | Currently available options can be found
      |
      a(href="https://github.com/ng-lightning/ng-lightning/blob/master/src/config/config.interface.ts") here
      | .
    p.slds-m-top_large
      | If you want to change some config properties during runtime, you can easily achieve it by utilizing the
      |
      code update
      |  method like this:
    pre.language-typescript
      code !{self['config-runtime']}
