ng-container([ngSwitch]="type")
  ngl-dynamic-icon-waffle(*ngSwitchCase="'waffle'", [alternativeText]="alternativeText")
  ngl-dynamic-icon-eq(*ngSwitchCase="'eq'", [alternativeText]="alternativeText")
