ngl-form-checkbox(label="Required", style="display: inline-block;")
  input(nglFormControl, type="checkbox", [(ngModel)]="required")
ngl-form-checkbox(label="Error", style="display: inline-block;")
  input(nglFormControl, type="checkbox", [(ngModel)]="hasError")
ngl-form-element.slds-m-top--small(label="Input Label", [error]="hasError ? error : null")
  input(nglFormControl, type="text", placeholder="My input", [required]="required")
ngl-form-element.slds-m-top--small([error]="hasError ? error : null")
  ng-template(nglFormLabel)
    i Textarea Label
    span(*ngIf="required")
      | (
      b required
      | !)
  textarea(nglFormControl, placeholder="Placeholder Text", [required]="required")
ngl-form-element.slds-m-top--small(label="Select Label", [error]="hasError ? error : null")
  select.slds-select(nglFormControl, [required]="required")
    option Option One
    option Option Two
    option Option Three
ngl-form-checkbox.slds-m-top--small(label="Checkbox Label", [error]="hasError ? error : null")
  input(nglFormControl, type="checkbox", [required]="required")
ngl-form-checkbox-toggle.slds-m-top--small(label="Toggle Label", [error]="hasError ? error : null")
  input(nglFormControl, type="checkbox", [required]="required")
ngl-form-checkbox-add.slds-m-top--small(label="Add product")
  input(nglFormControl, type="checkbox")
fieldset.slds-m-top--small(ngl-form-group, label="Radio Group Label", [required]="required", [error]="hasError ? error : null")
  ngl-form-group-element(label="Radio Label One")
    input(nglFormControl, type="radio")
  ngl-form-group-element(label="Radio Label Two")
    input(nglFormControl, type="radio")
fieldset.slds-m-top--small(ngl-form-group-alt, [required]="required", [error]="hasError ? error : null")
  ng-template(nglFormLabel)
    i Alternate Radio Group
  ngl-form-group-element(*ngFor="let day of days")
    ng-template(nglFormLabel) {{day}}
    input(nglFormControl, type="radio")
fieldset.slds-m-top--small(ngl-form-group, label="Checkbox Group Label", [required]="required", [error]="hasError ? error : null")
  ngl-form-group-element(label="Checkbox Label One")
    input(nglFormControl, type="checkbox")
  ngl-form-group-element(label="Checkbox Label Two")
    input(nglFormControl, type="checkbox")
fieldset.slds-m-top--small(ngl-form-group-alt, label="Alternate Checkbox Group", [required]="required", [error]="hasError ? error : null")
  ngl-form-group-element(*ngFor="let day of days", [label]="day")
    input(nglFormControl, type="checkbox")
