header#header
  .slds-container_x-large.slds-container_center
    .slds-grid.slds-p-vertical_small.slds-p-horizontal_x-large
      .slds-col.slds-align-middle.slds-no-flex
        .slds-media.slds-media_center
          span.slds-media__figure.slds-medium-show
            img(src="assets/images/shield.svg", style="height:25px;")
          |
          .slds-media__body
            a.slds-text-title_caps(routerLink="/", style="color:#fff;") NG-LIGHTNING
      |
      .slds-coll.slds-align-middle.slds-m-left_large.slds-grow
        a.slds-p-horizontal_small(routerLink="/components") Components
        a.slds-p-horizontal_small(routerLink="/support") Support
      |
      .slds-col.slds-align-middle.slds-no-flex
        a(href="https://www.npmjs.com/package/ng-lightning", alt="NPM", title="Install with NPM")
          img(src="assets/images/npm.svg", style="height:15px; background:transparent;")
        a.slds-m-left_small(href="https://github.com/ng-lightning/ng-lightning", alt="Source", title="View Source")
          img(src="assets/images/octicon.png", style="height:20px; background:transparent;")
main(style="margin-top: 54px;")
  router-outlet
footer#footer.slds-p-vertical_small.slds-p-horizontal_x-large.slds-grid.slds-text-body_small
  .slds-col © 2016 - present. Code licensed under the MIT License.
  .slds-col.slds-text-align_right Last updated on {{now | date:'dd MMM yyyy HH:mm:ss'}}. v{{version}}
