header.page__header.slds-border_bottom.slds-grid.slds-wrap.slds-m-bottom_medium
  .slds-has-flexi-truncate.slds-align-middle
    h1 Get Started

div
  h2.callout Installation
  p
    | Install through
    |
    code npm
    | :
  |
  pre.language-clike(ngNonBindable)
    code !{self.install}

//- Documentation
div
  h2.callout Reading the documentation
  p
    | Each component has API documentation, examples, and a working demo. They can be found
    |
    |
    a(routerLink="/components") here
    | .

//- Usage instructions
div
  h2.callout Usage
  |
  p
    | Once installed you need to import our main module into your application module. You should end up with code similar to this:

  pre.language-typescript
    code !{self.usage}

//- Configuration
div
  h2.callout Configuration
  |
  p
    | Optionally, you can configure and provide your own default values, using the various injection tokens available.
  pre.language-typescript
    code !{self.config}

  p.slds-m-top_medium
    | Currently available options are documented in the API section of each component on which are available.
