section.slds-modal([class.slds-fade-in-open]="open", [ngClass]="[size ? 'slds-modal_' + size : '']",
                              [attr.aria-hidden]="!open", [attr.aria-labelledby]="headingId", [attr.aria-describedby]="contentId"
                              aria-modal="true", role="dialog", tabindex="-1")
  .slds-modal__container(cdkTrapFocus)
    //- Header
    header.slds-modal__header([class.slds-modal__header_empty]="!hasHeader")

      //- Close button
      button.slds-button.slds-button_icon.slds-button_icon-inverse.slds-modal__close(#closeButton, type="button", (click)="close()")
        svg.slds-button__icon.slds-button__icon_large(nglIconName="utility:close")
        span.slds-assistive-text(*ngIf="closeButtonAssistiveText") {{closeButtonAssistiveText}}

      //- Header
      ng-template(#localHeader): h2.slds-text-heading_medium.slds-hyphenate(*ngIf="header", [id]="headingId") {{header}}
      ng-template(*ngIf="headerTpl; else localHeader", [ngTemplateOutlet]="headerTpl.templateRef", [ngTemplateOutletContext]="{id: headingId}")

      //- Tagline
      p.slds-m-top_x-small(*ngIf="hasHeader && taglineTpl"): ng-template([ngTemplateOutlet]="taglineTpl.templateRef")

    //- Body
    .slds-modal__content([id]="contentId")
      ng-content

    //- Footer
    footer.slds-modal__footer(*ngIf="footer", [class.slds-modal__footer_directional]="directional")
      ng-template([ngTemplateOutlet]="footer.templateRef")
.slds-backdrop([class.slds-backdrop_open]="open")
