app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#banner {
  background: #111111;
  color: #ccc;
}

#header {
  background:#363636;
  border-bottom: 1px solid #1c1c1c;
  position:fixed; top:0;
  width:100%;
  height: 55px;
  z-index: 10000;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

#header a {
  color: #d9d9d9 !important;
}

main {
  flex: 1 0 auto;
}

#footer {
  flex: none;
  background: #FAFBFC;
}

.readme, .api {
  code {
    margin: 0 1px;
    background: #f2f4f5;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee;
  }
}

.readme {
  p {
    margin: 5px 0;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.api {
  h1 {
    font-size: 22px;
    margin-bottom: 15px;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  table {
    font-size: 14px;
    line-height: 1.5;
    border-width: 0;
    margin: 1em 0;

    th {
      background-color: #e8e8e8;
      color: rgb(81, 79, 77);
      padding: .5rem;
    }

    td {
      padding: .5rem;
      border-width: 1px 0;
      border-color: #e8e8e8;
    }

    td:nth-child(3) {
      font-size: 13px;
      color: #c41d7f;
    }
  }
}

ngl-pagination {
  display: block;
  margin-bottom: 15px;
}
