label.slds-form-element__labell([attr.for]="_uid")
  abbr.slds-required(*ngIf="required", title="required") *
  span([nglInternalOutlet]="label")
.slds-form-element__control
  ng-content
.slds-form-element__help(*ngIf="error", [id]="errorId") {{error}}
