label([nglFormLabel]="label", [attr.for]="_uid", [required]="required")
.slds-form-element__control
  .slds-select_container
    ng-content
.slds-form-element__help(*ngIf="error", [id]="errorId") {{error}}
